.DS_Store
.*~
*.pyc

linux/config.symlink/subliminal/
cache.symlink/*
!cache.symlink/.keep
mutt/mutt.symlink/temp/*
!mutt/mutt.symlink/temp/.keep
mutt/mutt.symlink/cache/*
!mutt/mutt.symlink/cache/.keep
cache/cache.symlink/*
!cache/cache.symlink/.keep
vim/vim.symlink/bundle/*
!vim/vim.symlink/bundle/neobundle.vim
*.backup

vim/vim.symlink/localhistory/*
!vim/vim.symlink/localhistory/.keep
w3m/w3m.symlink/*
!w3m/w3m.symlink/keymap
newsbeuter/newsbeuter.symlink/*
!newsbeuter/newsbeuter.symlink/config
!newsbeuter/newsbeuter.symlink/themes
